<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="introContainer">
			<h1>Enter a message!</h1>
			<p>
				<a href="/">Go Back</a>
			</p>
		</div>

		<form method="POST" action="/new">
			<div class="inputContainer">
				<b>
					<label for="user">Your Name</label>
				</b>
				<input type="text" id="user" name="user" />
			</div>

			<div class="inputContainer">
				<b>
					<label for="text">Your Message</label>
				</b>
				<input type="text" id="text" name="text" />
			</div>

			<div class="buttonContainer">
				<button type="submit">Submit</button>
			</div>
		</form>
	</body>
</html>
