body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: #141720;
	color: white;
}

a {
	color: #00b7ff;
}

.introContainer {
	margin-bottom: 30px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	input {
		padding: 8px;
		background-color: transparent;
		/* border: none; */
		/* border: 1px red; */
		border-color: white;
		color: white;
		border: 1px solid;
	}

	input:focus-visible {
		outline: unset;
	}
}

.buttonContainer {
	margin-top: 10px;

	button {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.messageContainer {
	b {
		color: gold;
	}
}
